<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rw.quickcare.mapper.AdminMapper">
    <select id="selectAdminsByCondition" parameterType="com.rw.quickcare.model.vo.admin.AdminQueryVo" resultMap="adminQueryList">
        select a.*,r.role_name
        from admin a, admin_role ar, role r
        where a.admin_id=ar.admin_id and ar.role_id=r.role_id
        <if test="status !=null">
            and a.admin_status=#{status}
        </if>
        <if test="isDel !=null">
            and a.admin_isdel=#{isDel}
        </if>
        <if test="name !=null and name !=''">
            and a.admin_name like '%${name}%'
        </if>
    </select>
    <resultMap id="adminQueryList" type="com.rw.quickcare.model.vo.admin.AdminListVo">
        <id column="admin_id" property="id"></id>
        <result column="admin_acc" property="acc"></result>
        <result column="admin_psw" property="psw"></result>
        <result column="admin_name" property="name"></result>
        <result column="admin_create_time" property="createTime"></result>
        <result column="admin_last_ip" property="lastIp"></result>
        <result column="admin_last_time" property="lastTime"></result>
        <result column="admin_status" property="status"></result>
        <result column="admin_isdel" property="isDel"></result>
        <result column="admin_datascope" property="dataScope"></result>
        <collection property="roles" ofType="com.rw.quickcare.model.entity.Role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"/>
        </collection>
    </resultMap>

    <select id="getPermsById" resultMap="permission">
        SELECT p.* FROM permission p, role_permission rp, admin_role ar, ADMIN a, ROLE r
        WHERE a.admin_id=ar.admin_id AND ar.role_id=rp.role_id
          AND ar.role_id=r.role_id AND rp.permission_id = p.permission_id
          AND r.role_status=1 AND permission_status=1 AND a.admin_id=#{id}
    </select>
    <resultMap id="permission" type="com.rw.quickcare.model.entity.Permission">
        <id column="permission_id" property="id"/>
        <result column="permission_title" property="title"/>
        <result column="permission_fid" property="fid"></result>
        <result column="permission_type" property="type"></result>
        <result column="permission_path" property="path"></result>
        <result column="permission_icon" property="icon"></result>
        <result column="permission_status" property="status"></result>
    </resultMap>

    <select id="getHosById" resultMap="hos">
        SELECT h.* FROM hos h, admin_hos ah, admin a
        WHERE a.admin_id=ah.admin_id AND h.hos_id=ah.hos_id AND h.hos_isdelete=1
          AND a.admin_id=#{id}
    </select>
    <resultMap id="hos" type="com.rw.quickcare.model.entity.Hos">
        <id column="hos_id" property="id"></id>
        <result column="hos_name" property="name"></result>
        <result column="hos_address" property="address"></result>
        <result column="hos_tele" property="tele"></result>
        <result column="hos_intro" property="intro"></result>
        <result column="hos_status" property="status"></result>
        <result column="hos_create_time" property="createTime"></result>
        <result column="hos_isdelete" property="isDelete"></result>
    </resultMap>

    <select id="getInfoById" resultMap="adminMap">
        SELECT a.admin_id, a.admin_name, r.role_id, r.role_name, p.*, ah.hos_id, h.hos_name
        FROM permission p, role_permission rp, admin_role ar, ADMIN a, ROLE r, admin_hos ah,hos h
        WHERE a.admin_id=ar.admin_id AND ar.role_id=rp.role_id and ah.admin_id=a.admin_id
          AND ar.role_id=r.role_id AND rp.permission_id = p.permission_id AND ah.hos_id=h.hos_id
          AND r.role_status=1 AND permission_status=1 AND a.admin_id=#{id}
    </select>
    <resultMap id="adminMap" type="com.rw.quickcare.model.entity.Admin">
        <id column="admin_id" property="id"></id>
        <result column="admin_name" property="name"></result>
        <collection property="hos" ofType="com.rw.quickcare.model.entity.Hos">
            <id column="hos_id" property="id"/>
            <result column="hos_name" property="name"/>
        </collection>
        <collection property="roles" ofType="com.rw.quickcare.model.entity.Role">
            <id column="role_id" property="id"/>
            <result column="role_name" property="name"/>
        </collection>
        <collection property="permissions" ofType="com.rw.quickcare.model.entity.Permission">
            <id column="permission_id" property="id"/>
            <result column="permission_title" property="title"/>
            <result column="permission_fid" property="fid"/>
            <result column="permission_resources" property="resources"/>
            <result column="permission_type" property="type"/>
            <result column="permission_path" property="path"/>
            <result column="permission_icon" property="icon"/>
            <result column="permission_status" property="status"/>
        </collection>
    </resultMap>
</mapper>