<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rw.quickcare.mapper.DoctorScheduleMapper">
    <select id="getAllByDocId" resultMap="DoctorSchedule">
        SELECT d.* FROM doctor d, dept de, hos h
                   WHERE h.hos_id=de.hos_id AND de.dept_id=d.dept_id
                     AND h.hos_id=#{hosId}
    </select>
    <resultMap id="DoctorSchedule" type="com.rw.quickcare.model.entity.DoctorSchedule">
        <id column="doctor_id" property="id"></id>
        <result column="dept_id" property="deptId"></result>
        <result column="doctor_name" property="name"></result>
        <result column="doctor_gender" property="gender"></result>
        <result column="doctor_title" property="title"></result>
        <result column="doctor_fee" property="fee"></result>
        <result column="doctor_intro" property="intro"></result>
        <result column="doctor_status" property="status"></result>
    </resultMap>


</mapper>