<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rw.quickcare.mapper.UserMapper">
    <select id="selectUsersByCondition" resultMap="user">
        select * from user
        <if test="ew.emptyOfWhere == false">
            ${ew.customSqlSegment}
        </if>
    </select>
    <resultMap id="user" type="com.rw.quickcare.model.entity.User">
        <id column="user_id" property="id"></id>
        <result column="user_acc" property="acc"></result>
        <result column="user_psw" property="psw"></result>
        <result column="user_name" property="name"></result>
        <result column="user_mobile" property="mobile"></result>
        <result column="user_mail" property="mail"></result>
        <result column="user_birthdate" property="birthDate"></result>
        <result column="user_certi_type" property="certiType"></result>
        <result column="user_certi_no" property="certiNo"></result>
        <result column="user_status" property="status"></result>
        <result column="user_create_time" property="createTime"></result>
    </resultMap>


</mapper>